<h1>Places I visted!</h1>

<p><br></p>

   <% for place in @places %>
    <h2>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </h2>
   <% end %>

<p><br></p>

<p><a href="/places/new">Add a new place</a></p>